<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add Movie</h1>

    <form action="/addmovie" method="POST">

        <input type="text" name="name" placeholder="Enater Movie  Name" required>

        <input type="text" name="actor" placeholder="Enter actor Name" required>

        <input type="text" name="movieType" placeholder="Enter Movie Type" required>

        <input type="text" name="shortDetails" placeholder="Enter Short Details" required>

        <input type="text" name="fullDetails" placeholder="Enter Full Details" required>

        <input type="file" name="moviePoster" placeholder="Enter Movie Poster" required>



        <button type="submit">Add Movie</button>
    </form>
</body>

</html>